/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a600ff;
  --ifm-color-primary-dark: #9500e6;
  --ifm-color-primary-darker: #8d00d9;
  --ifm-color-primary-darkest: #7400b3;
  --ifm-color-primary-light: #af1aff;
  --ifm-color-primary-lighter: #b326ff;
  --ifm-color-primary-lightest: #c14dff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a600ff;
  --ifm-color-primary-dark: #9500e6;
  --ifm-color-primary-darker: #8d00d9;
  --ifm-color-primary-darkest: #7400b3;
  --ifm-color-primary-light: #af1aff;
  --ifm-color-primary-lighter: #b326ff;
  --ifm-color-primary-lightest: #c14dff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
